@use "../helpers/media";

.about {
  padding-top: 100px;

  @include media.md-up {
    padding-top: 120px;
  }
}

.about-title {
  font-size: 16px;

  @include media.xl-up {
    font-size: 18px;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: column;
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 31px 0;
  gap: 12px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--c-grey20);
  }

  @include media.xl-up {
    flex-direction: row;
    align-items: center;
    gap: 86px;
  }
}

.about__item-title {
  position: relative;


  @include media.xl-up {
    padding-left: 70px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      background: url("../../images/icons/icon-check.svg");
    }
  }
}

.about__item-text {
  max-width: 542px;
  line-height: 150%;
  font-size: 14px;
  margin: 0;

  @include media.xl-up {
    font-size: 15px;
  }
}

.about__wrapper {
  margin-top: 20px;
}